// normalize.css
@import "../../node_modules/normalize.css/normalize";

// Переменные
@import "variables.scss";

// Миксины
@import "mixins.scss";

// Медиа-запросы
@import "media-queries.scss";

// Fonts
@import "font.scss";

// Глобальные стили и обнуление
img {
  width: 100%;
  max-width: 100%;// размер картинки не больше ширины контейнера
  height: auto;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

// Скрытые заголовки и скрытые описания ссылок
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// html, body
.page {
  height: 100%;
}

.page__body {
  font-family: "TT Norms", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;

  min-width: 320px; // появляется нижняя прокрутка

  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  @media (max-width: 760px) {
    // overflow: hidden; //Запрет скролла при открытом меню
  }
}

// container
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding: 0 10px;
  }
}


// header
.header-top {
  position: relative;

  @media (max-width: 1280px) {
    /*padding: 20px 0;*/
  }
}

.header-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
}


.header-top__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include desktop {
    justify-content: space-between;
  }

  @media (max-width: 1280px) {
    min-height: 60px;
  }

  @media (max-width: 760px) {
    // display: block;
    justify-content: center;
  }
}

.header-top__list {
  display: flex;
  justify-content: space-between;
  flex: 0 1 685px;
  flex-wrap: wrap;

  @include desktop {
    margin: 0 -15px;
    justify-content: center;
  }

  @media (max-width: 660px) {
    margin: 0;
  }
}

.header-top__item {
  font-size: 14px;
  line-height: 44px;

  &:nth-child(2) {
    padding-left: 14px;

    @include desktop {
      padding: 0 15px;
    }

    // @media (max-width: 660px) {
    //   padding: 0;
    // }
  }

  @include desktop {
    padding: 0 15px;
  }

  @media (max-width: 660px) {
    padding: 0;
  }

  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.header-top__address {
  color: #000000;
  padding-left: 19px;
  padding-top: 14px;
  padding-bottom: 14px;

  position: relative;
  transition: all 0.2s ease;

  // &:hover {
  //   color: #36a3eb;
  // }

  // &:focus,
  // &:active {
  //   color: #36a3eb;
  // }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/address.svg");
    width: 9px;
    height: 12px;
    left: 1px;
    top: 16px;
  }
}

.header-top__tel {
  color: #000000;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: 700;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    color: #36a3eb;
  }

  &:focus,
  &:active {
    color: #36a3eb;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/tel.svg");
    width: 11px;
    height: 12px;
    left: 0;
    top: 16px;
  }
}

.header-top__mail {
  color: #000000;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;


  position: relative;
  // z-index: 2;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/mail.svg");
    width: 11px;
    height: 11px;
    left: 0;
    top: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #000000;
    right: 0;
    bottom: 15px;
    transition: all 0.2s ease;
  }

  &:hover {
    &::after {
      background-color: transparent;
    }
  }

  &:focus,
  &:active {
    &::after {
      background-color: transparent;
    }
  }
}


.header-top__btn {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 21px 59px 19px 60px;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #36a3eb;
  border: none;

  max-height: 60px;

  transition: all 0.3s ease;

  &:hover {
    background-color: #0999f8;
  }

  &:focus,
  &:active {
    background-color: #0999f8;
  }

  margin-left: calc(8.17%);
  z-index: 2;
  flex-shrink: 0;

  @media (max-width: 1280px) {
    display: none;
  }
}


.header-bottom {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding: 25px 0 26px 0;

  @media (max-width: 979px) {
    padding: 20px 0 20px 0;
  }
}

.header-bottom__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__logo {
  padding-top: 5px;
  flex: 0 0 246px;

  margin-right: 40px;

  @media (max-width: 760px) {
    flex: 0 0 200px;
    margin-right: 0;
  }
}

.header-bottom__logo img {
  object-fit: contain;
}

.header-bottom__btn {
  display: none;

  @media (max-width: 1280px) {
    cursor: pointer;
    display: block;
    margin-left: auto;
    /*width: 40px;*/
    width: 44px;

    border: none;
    background-color: transparent;
    /*padding: 12px 0;*/
    padding: 20px 0;
    padding-left: 4px;

    position: relative;
    z-index: 5;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 4px;
      right: 0;
      height: 4px;
      background-color: #36a3eb;
      transition: all 0.5s ease;
    }

    &::after {
      bottom: 7px;
    }

    &::before {
      top: 7px;
    }
  }
}


.header-bottom__btn span {
  @media (max-width: 1280px) {
    display: block;
    height: 4px;
    background-color: #36a3eb;
    transition: all 0.5s ease;
  }
}

.header-bottom__btn--active span {
  background-color: #ffffff;
}

.header-bottom__btn--active {
  &::after,
  &::before {
    background-color: #ffffff;
  }
}

.header-bottom__menu {
  flex-grow: 1;
}

.header-bottom__list {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.5s ease;

  @media (max-width: 1440px) {
    justify-content: space-between;
  }

  @media (max-width: 1280px) {
    // display: none;
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: #36a3eb;
    display: block;
    top: -800px;
    margin: 0;
    z-index: 4;
  }
}

.header-bottom__list.header-bottom__list--active {
  top: 0;
}

.header-bottom__item {
  cursor: pointer;
  margin-left: 43px;
  height: auto;

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: 1440px) {
    margin-left: 0;
  }

  @media (max-width: 1280px) {
    text-align: center;
    /*margin-left: 0;*/
  }

  &:nth-child(6) {
    padding-right: 3px;

    @media (max-width: 1440px) {
      padding-right: 0;
    }

    @media (max-width: 1280px) {
      margin-bottom: 8px;
    }
  }

  &:last-child {
    display: none;

    @media (max-width: 1280px) {
      display: inline;
    }
  }
}

.header-bottom__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  transition: color 0.2s ease;
  padding: 14px 0;


  &:hover {
    color: #36a3eb;
  }

  &:focus,
  &:active {
    color: #36a3eb;
  }

  @media (max-width: 1280px) {
    padding: 10px 0;
    // display: block;
    display: inline-block;
    margin: 0 auto;
    color: #ffffff;
  }
}

.header-bottom__link:not([href]) {
  &:hover {
    color: #000000;
  }

  &:focus,
  &:active {
    color: #000000;
  }
}

/*.header-bottom__link {*/

.header-bottom__link:not([href])::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #36a3eb;
  right: 0;
  bottom: -40px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.header-top__btn-2 {
  cursor: pointer;
  display: block;
  background-color: #36a3eb;
  border: none;

  margin: 0 auto;
}


// catalog-temperatur.html

// breadcrumbs

.breadcrumbs {
  margin-top: 64px;
  margin-bottom: 24px;

  @media (max-width: 979px) {
    margin-top: 50px;
  }
}

.breadcrumbs__list {
  @media (max-width: 360px) {
    text-align: center;
  }
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 8px;
  // margin-right: 0;
  position: relative;
}

.breadcrumbs__list-item::after {
  content: "";
  position: absolute;
  background-color: #7f828d;
  width: 5px;
  height: 1px;
  bottom: 9px;
  right: 0;
}

.breadcrumbs__list-item:last-child::after {
  display: none;
}

.breadcrumbs__list-item a {
  font-size: 14px;
  line-height: 20px;
  padding: 14px 0;
  color: #7f828d;
  transition: all 0.2s ease;

  &:hover {
    color: #36a3eb;
  }

  &:focus,
  &:active {
    color: #36a3eb;
  }
}

.breadcrumbs__list-item:last-child a {
  color: #36a3eb;
}


// temperature


.temperature {
  min-height: 897px;
}

.temperature__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 64px;

  @media (max-width: 920px) {
    font-size: 40px;
    margin-bottom: 20px;
  }

  @media (max-width: 360px) {
    text-align: center;
  }
}

.temperature__inner {
  display: flex;
  // justify-content: space-between;

  // @include desktop {
  //   justify-content: space-around;
  // }

  @media (max-width: 576px) {
    display: block;
  }
}

.temperature__tabs {
  width: 266px;
  flex-shrink: 0;

  @media (max-width: 979px) {
    margin-bottom: 35px;
  }

  @media (max-width: 360px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.accordion__item:last-child {
  margin-bottom: 40px;

  .temperature__tabs-item {
    line-height: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.temperature__tabs-item {
  position: relative;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;

  display: block;
  background: #f4f6f6;
  padding: 23px 30px 20px 30px;

  transition: all 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #e6e6e6;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease;
  }

  &:hover {
    color: #36a3eb;
  }

  &:focus,
  &:active {
    color: #36a3eb;
  }
}

.temperature__tabs-item.tab--active {
  &::after {
    height: 2px;
    background-color: #36a3eb;
  }
}

.temperature__tabs-item.accordion--active {
  color: #36a3eb;
}


.accordion__link-list {
  padding: 16px 0 16px 0;
  display: none;
}

.accordion__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #030303;

  display: block;
  background: transparent;
  padding: 8px 30px 8px 30px;
  transition: all 0.2s ease;

  &:hover {
    color: #36a3eb;
  }

  &:focus,
  &:active {
    color: #36a3eb;
  }
}

.temperature__content {
  flex-grow: 1;
  // padding: 0 20px;
  // padding-bottom: 40px;
  padding: 0 0 40px 90px;

  @media (max-width: 1440px) {
    padding-left: 20px;
  }


  // @media (max-width: 790px) {
  //   padding-left: 40px;
  //   padding-right: 40px;
  //   margin: 0 auto;
  // }

  @media (max-width: 576px) {
    padding-left: 0;
  }
}

.temperature__content-list {
  display: none;
}

.temperature__content-list.tabs-content--active {
  // width: 1044px;
  width: 100%;
  // margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;

  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  // @include desktop {
  //   width: 778px;
  // }

  // @media (max-width: 1180px) {
  //   width: 512px;
  // }

  // @media (max-width: 920px) {
  //   width: 246px;
  // }

  // @media (max-width: 360px) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.temperature__content-item {
  // width: 246px;
  // margin-bottom: 40px;
  // margin-right: 20px;

  // &:nth-child(4n) { //каждый 4ый
  //   margin-right: 0;
  // }

  // @include desktop {
  //   &:nth-child(4n) { //каждый 4ый
  //     margin-right: 20px;
  //   }

  //   &:nth-child(3n) { //каждый 3ий
  //     margin-right: 0;
  //   }
  // }

  // @media (max-width: 1180px) {
  //   &:nth-child(3n) { //каждый 3ий
  //     margin-right: 20px;
  //   }

  //   &:nth-child(2n) { //каждый 2ой
  //     margin-right: 0;
  //   }
  // }

  // @media (max-width: 920px) {
  //   &:nth-child(3n) { //каждый 3ий
  //     margin-right: 0;
  //   }

  //   margin-right: 0;
  // }

  // @media (max-width: 576px) {
  //   margin-bottom: 20px;

  //   &:last-child {
  //     margin-bottom: 35px;
  //   }
  // }
}

.temperature__card {
  height: 100%;
  // width: 100%;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.temperature__link-card {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 3;

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
}

.temperature__card-img {
  // width: 246px;
  // height: 200px;
  border: 1px solid #e6e6e6;
  // text-align: center;
  // z-index: 2;
  overflow: hidden;
  position: relative;
  padding: 0 0 80% 0;
}

.temperature__link-card:hover + .temperature__card-img {
  border: none;
  transition: all 0.2s ease;
}

.temperature__link-card:hover ~ .temperature__card-text .temperature__text-card {
  color: #36a3eb;
}


.temperature__card-img img {
  // object-fit: contain;
  width: 99%;
  height: 102%;
  position: absolute;
  top: -1px;
  left: 1px;
  // object-fit: contain;
  // object-fit: fill;
  object-fit: cover;
  // object-fit: scale-down;
}

.temperature__card-text {
  background: #f4f6f6;
  min-height: 114px;
  padding: 23px 36px 26px 35px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.temperature__text-card {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  transition: all 0.2s ease;
}


// footer-top

.feedback {
  background-color: #f4f6f6;
  padding: 64px 0;
  border-bottom: 1px solid #e6e6e6;

  @media (max-width: 920px) {
    padding: 35px 0;
  }
}

.feedback__inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1320px) {
    justify-content: space-around;
  }

  @media (max-width: 720px) {
    justify-content: space-between;
  }

  @media (max-width: 720px) {
    display: block;
  }
}

.feedback__text-block {
  width: 355px;

  @media (max-width: 920px) {
    width: 290px;
  }

  @media (max-width: 660px) {
    margin-bottom: 30px;
  }

  @media (max-width: 360px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 17px;

  @media (max-width: 920px) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

.feedback__subtitle {
  font-size: 18px;
  line-height: 30px;
}

.feedback__form {
  width: 867px;

  @media (max-width: 1320px) {
    width: 423px;
  }

  @media (max-width: 1320px) {
    width: 320px;
  }

  @media (max-width: 360px) {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}


.form-feedback__input-box {
  margin-bottom: 8px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 480px) {
    width: 100%;
  }
}


.input-box__name {
  position: relative;
  width: 424px;
  padding-bottom: 18px;

  @media (max-width: 480px) {
    width: 100%;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-image: url("../img/svg/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    width: 1px;
    height: 34px;
    background-color: #f1f1f1;
  }
}

.input-box__name-input {
  border: 2px solid transparent;
  border-radius: 1px;

  width: 100%;
  outline: none;
  padding: 21px 24px 19px 83px;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 17px;
  color: #000000;

  transition: all 0.2s ease;

  &::placeholder {
    font-family: "TT Norms", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
  }

  &:hover {
    border-color: #36a3eb;
  }

  &:focus,
  &:active {
    border-color: #36a3eb;
  }
}


.input-box__tel {
  position: relative;
  width: 424px;
  padding-bottom: 18px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-image: url("../img/svg/tel-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 16px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    width: 1px;
    height: 34px;
    background-color: #f1f1f1;
  }
}

.input-box__tel-input {
  border: 2px solid transparent;
  border-radius: 1px;

  width: 100%;
  outline: none;
  padding: 21px 24px 19px 83px;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 17px;
  color: #000000;

  transition: all 0.2s ease;

  &::placeholder {
    font-family: "TT Norms", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
  }

  &:hover {
    border-color: #36a3eb;
  }

  &:focus,
  &:active {
    border-color: #36a3eb;
  }
}


.input-box__email {
  position: relative;
  width: 424px;
  padding-bottom: 18px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-image: url("../img/svg/mail-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    width: 1px;
    height: 34px;
    background-color: #f1f1f1;
  }
}

.input-box__email-input {
  border: 2px solid transparent;
  border-radius: 1px;

  width: 100%;
  outline: none;
  padding: 22px 24px 20px 83px;
  background-color: #ffffff;


  font-size: 14px;
  line-height: 17px;
  color: #000000;

  transition: all 0.2s ease;

  &::placeholder {
    font-family: "TT Norms", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
  }

  &:hover {
    border-color: #36a3eb;
  }

  &:focus,
  &:active {
    border-color: #36a3eb;
  }
}


.input-box__message {
  position: relative;
  width: 424px;
  padding-bottom: 18px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-image: url("../img/svg/chat-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    width: 1px;
    height: 34px;
    background-color: #f1f1f1;
  }
}

.input-box__message-input {
  border: 2px solid transparent;
  border-radius: 1px;

  width: 100%;
  outline: none;
  resize: none;
  padding: 22px 23px 20px 83px;
  background-color: #ffffff;


  font-size: 14px;
  line-height: 17px;
  color: #000000;

  transition: all 0.2s ease;

  &::placeholder {
    font-family: "TT Norms", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8d8d8d;
  }

  &:hover {
    border-color: #36a3eb;
  }

  &:focus,
  &:active {
    border-color: #36a3eb;
  }
}


.form-feedback__checkbox-box {
  margin-left: 140px;

  @media (max-width: 1320px) {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.checkbox-box {
  position: relative;
  display: inline-block;
  align-self: start;
  cursor: pointer;
}

.checkbox-box__picture {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #36a3eb;
  }
}

.checkbox-box__input:focus + .checkbox-box__picture {
  border-color: #36a3eb;
}

.checkbox-box__input:checked ~ .checkbox-box__picture::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #36a3eb;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-box__label {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
  width: 261px;
}


.checkbox-box__link {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    right: 0;
    bottom: 1px;
    transition: all 0.2s ease;
  }
}

.form-feedback__inner {
  display: flex;

  @media (max-width: 1320px) {
    display: block;
  }
}

.form-feedback__submit-btn {
  cursor: pointer;
  text-align: center;
  padding: 21px 57px 21px 59px;

  font-size: 12px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #36a3eb;
  border: none;

  height: 60px;

  transition: all 0.3s ease;

  display: block;
  margin-left: 42px;
  margin-top: 2px;

  &:hover {
    background-color: #0999f8;
  }

  &:focus,
  &:active {
    background-color: #0999f8;
  }

  @media (max-width: 1320px) {
    display: block;
    margin: 0 auto;
  }
}


// footer-bottom

.footer-bottom {
  padding: 37px 50px 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 995px) {
    flex-wrap: wrap;
    padding-right: 0;
  }

  @media (max-width: 850px) {
    justify-content: left;
  }
}

.footer-bottom__copyright {
  font-size: 18px;
  line-height: 24px;
  color: #7f828d;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.footer-bottom__privacy {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #36a3eb;
  position: relative;

  margin-left: auto;

  @media (max-width: 995px) {
    margin-left: 0;
  }

  @media (max-width: 850px) {
    margin-top: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #36a3eb;
    right: 0;
    bottom: 14px;
    transition: all 0.2s ease;
  }

  &:hover {
    &::after {
      background-color: transparent;
    }
  }

  &:focus,
  &:active {
    &::after {
      background-color: transparent;
    }
  }
}

.footer-bottom__dev {
  font-size: 18px;
  line-height: 46px;
  color: #7f828d;

  display: flex;
  align-items: center;

  padding-left: 86px;

  @media (max-width: 995px) {
    padding-left: 0;
  }

  @media (max-width: 850px) {
    margin-top: 16px;
    width: 100%;
  }
}

.footer-bottom__dev-logo {
  width: 77px;
  margin-left: 9px;
  transition: all 0.2s ease;
  padding-top: 3px;
  display: inline-block;


  &:hover,
  &:active,
  &:focus {
    position: relative;
    transform: scale(1.1, 1.1);
    opacity: 0.8;
  }
}

.footer-bottom__dev-logo img {
  object-fit: contain;
}

// catalog-temperatur.html.html^^


// news.html

.about-company {
  border-bottom: 2px solid #e6e6e6;
}

.about-company__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 64px;
}

.about-company__menu-list {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  padding-bottom: 23px;
}

.about-company__menu-item {
  margin-right: 64px;
}

.about-company__menu-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
  position: relative;
  transition: color 0.2s ease;
  padding: 12px 0;

  &:not([href]) {
    opacity: 1;
  }

  &:not([href])::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #36a3eb;
    right: 0;
    bottom: -13px;
  }
}


.news {
  padding-bottom: 142px;
}

.news__list {
  margin-bottom: 65px;

  width: 87.357%;
  display: grid;
  column-gap: 109px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.news__link {
  display: block;
  max-width: 335px;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.news__link-date {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #7f828d;
  margin-bottom: 17px;
}

.news__link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.news__link-text {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}


.pagination {
  display: flex;
  align-items: center;

  font-family: "Circe", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.pagination__arrow-start {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-right: 5px;
  padding: 9px 0;
}

.pagination__arrow-previous {
  margin-right: 14px;
  padding: 14px 19px 12px 19px;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin-right: 3px;
  font-size: 18px;
  line-height: 27px;
}

.pagination__item {
  padding: 14px 13px;
  background: transparent;
  width: 55px;
  text-align: center;
  color: #807f7f;
  margin-right: 10px;

  &--active {
    font-family: "Circe", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    background: #36a3eb;
    color: #ffffff;
  }
}

.pagination__arrow-next {
  margin-right: 4px;
  padding: 14px 19px 12px 19px;
}

.pagination__arrow-end {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding: 9px 0;
}

// news.html^^


// new.html

.new {
  padding-bottom: 112px;
}

.new__item-date {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #7f828d;
  margin-bottom: 16px;
}

.new__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 44px;
}

.new__item-text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.new__link-item {
  color: #36a3eb;
  padding: 12px 0;
}

.new__item-image {
  width: 335px;
  height: 335px;
  margin-bottom: 41px;

  & img {
    object-fit: contain;
  }
}

.new__item-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #36a3eb;
  padding: 14px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #36a3eb;
    right: 0;
    bottom: 15px;
  }
}

// new.html^^


// advantage.html

.advantage {
  padding-bottom: 122px;
}

.advantage__list {
  width: 93.714%;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
}

.advantage__item {
  padding: 139px 39px 64px 40px;
  max-width: 424px;
  background: #f4f6f6;

  &:nth-child(1) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-1.svg");
  }

  &:nth-child(2) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-2.svg");
  }

  &:nth-child(3) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-3.svg");
  }

  &:nth-child(4) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-4.svg");
  }

  &:nth-child(5) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-5.svg");
  }

  &:nth-child(6) .advantage__item-title::before {
    background-image: url("../img/svg/advantage-6.svg");
  }
}

.advantage__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    left: -1px;
    top: -99px;
  }
}

.advantage__item-text {
  font-size: 14px;
  line-height: 24px;
}

.for-buyers {
  border-bottom: 2px solid #e6e6e6;
}

.for-buyers__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 64px;
}

.for-buyers__menu-list {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  padding-bottom: 23px;
}

.for-buyers__menu-item {
  margin-right: 64px;
}

.for-buyers__menu-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
  position: relative;
  transition: color 0.2s ease;
  padding: 12px 0;
}

.for-buyers__menu-link:not([href]) {
  opacity: 1;
}

.for-buyers__menu-link:not([href])::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #36a3eb;
  right: 0;
  bottom: -13px;
}

.certificates {
  padding-bottom: 98px;
}

.certificates__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.certificates__item {
  padding: 0 10px;
  margin-bottom: 32px;
}


.certificates__img {
  margin-bottom: 20px;
  width: 335px;

  &--big {
    width: 690px;
  }
}

.certificates__img img {
  object-fit: contain;
}

.certificates__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

// advantage.html^^
